<p id="notice"><%= notice %></p>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td><%= @product.name %></td>
      <td><%= @product.description %></td>
      <td><%= @product.formatted_price %></td>
    </tr>
  </tbody>
</table>

<!-- <h4>Write A Review</h4> -->
<%= render 'reviews/form', review: @review %>

<h4>Reviews</h4>
<% @product.reviews.each do |review| %>
  <p>
    <%= review.comment %>
    <br>
    Added <%= time_ago_in_words(review.created_at) %>
  </p>
<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
